.btn-warning {
  border-radius: 75rem;
  padding: 1em;
  margin: 5em auto;
  color: black
}

body {
  font-family: monospace;
  padding-bottom: 60px;
  background: rgb(238, 248, 199)
}

.jumbotron {
  text-align: center;
  background-color: rgb(243, 182, 50);
}

input[type="radio"], label{
  padding: 5px;
  margin: 5px;
}

#year-range, #color {
  width: 33%;
}

#output {
  display: none;
  text-align: center; 
}

#ruby, #python-logo, #go, #rust {
  display: none;
  margin: 5em 20em;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}